[submodule ".registry"]
	path = .registry
	url = https://github.com/terminological/terminological.r-universe.dev
	branch = HEAD
[submodule "arear"]
	path = arear
	url = https://github.com/terminological/arear
	branch = 0.1.0
[submodule "dtrackr"]
	path = dtrackr
	url = https://github.com/terminological/dtrackr
	branch = 0.4.4
[submodule "ggrrr"]
	path = ggrrr
	url = https://github.com/terminological/ggrrr
	branch = 0.0.0.9021
[submodule "html2pdfr"]
	path = html2pdfr
	url = https://github.com/terminological/html2pdfr
	branch = 0.4.3
[submodule "pkgtools"]
	path = pkgtools
	url = https://github.com/terminological/pkgtools
	branch = 0.0.0.9024
[submodule "rmaven"]
	path = rmaven
	url = https://github.com/terminological/rmaven
	branch = 0.1.2
[submodule "roogledocs"]
	path = roogledocs
	url = https://github.com/terminological/roogledocs
	branch = 0.3.0
[submodule "testRapi"]
	path = testRapi
	url = https://github.com/terminological/r6-generator-docs
	branch = 0.5.6
