[submodule ".registry"]
	path = .registry
	url = https://github.com/terminological/universe
	shallow = true
	branch = HEAD
[submodule "rmaven"]
	path = rmaven
	url = https://github.com/terminological/rmaven
	shallow = true
	branch = 0.1.2
	registered = true
[submodule "dtrackr"]
	path = dtrackr
	url = https://github.com/terminological/dtrackr
	shallow = true
	branch = 0.2.4
	registered = true
